---
import type { HTMLAttributes } from 'astro/types';
import BrowserMockup from '../BrowserMockup.astro';
import Project from '../Project.astro';
import ProjectActions from '../ProjectActions.astro';

export type Props = HTMLAttributes<'div'>;

const { slot, ...props } = Astro.props;
---

<Project {...props}>
  <div class="flex items-center justify-between">
    <div class="w-32">
      <img src="/projects/exterra/logo-3.svg" alt="Exterra logo" />
    </div>
    <ProjectActions githubHref="https://github.com/sambrock/exterra" projectHref="https://exterra.sambrock.com" />
  </div>
  <div class="relative">
    <BrowserMockup class="absolute w-[740px]">
      <img src="/projects/exterra/home.webp" alt="Exterra web app" />
    </BrowserMockup>
  </div>
</Project>
