---
import type { HTMLAttributes } from 'astro/types';
import BrowserMockup from '../BrowserMockup.astro';
import Project from '../Project.astro';
import ProjectActions from '../ProjectActions.astro';

export type Props = HTMLAttributes<'div'>;

const { slot, ...props } = Astro.props;
---

<Project {...props}>
  <div class="flex items-center justify-between">
    <div class="w-28">
      <img src="/projects/exterra/exterra.svg" />
    </div>
    <ProjectActions githubHref="https://github.com/sambrock/exterra" projectHref="https://exterra.sambrock.com" />
  </div>
  <div class="relative">
    <BrowserMockup class="absolute w-[720px]">
      <img src="/projects/exterra/home.webp" />
    </BrowserMockup>
  </div>
</Project>
