---
import type { HTMLAttributes } from 'astro/types';
import { clsx } from 'clsx';
import BrowserMockup from '../BrowserMockup.astro';
import Project from '../Project.astro';

export type Props = HTMLAttributes<'div'>;

const { slot, ...props } = Astro.props;
---

<Project class={clsx(props.class)} {...props}>
  <div class="w-28 flex items-center">
    <img src="/projects/exterra/exterra.svg" />
  </div>
  <BrowserMockup class="w-[700px]">
    <img src="/projects/exterra/home.webp" />
  </BrowserMockup>
</Project>
