---
import BrowserMockup from '../BrowserMockup.astro';
import Project from './Project.astro';
---

<Project class="hover:bg-[#030917]">
  <div class="w-28 flex items-center">
    <img src="/projects/exterra/exterra.svg"/>
  </div>
  <BrowserMockup class="ow-start-2">
    <img src="/projects/exterra/home.webp" />
  </BrowserMockup>
</Project>

<!-- <div class="p-6 overflow-clip h-full hover:bg-[#030917] rounded-xl bg-white/5"></div> -->
