---
import MockWindow from '../MockWindow.astro';
---

<div class="p-6 overflow-clip h-full hover:bg-[#000000] rounded-xl bg-white/5">
  <div class="w-36">
    <img src="/projects/filmq/filmlist-logo.svg" />
  </div>
  <MockWindow class="mt-6">
    <img src="/projects/filmq/list.png" />
  </MockWindow>
</div>
