---
import type { HTMLAttributes } from 'astro/types';
import BrowserMockup from '../BrowserMockup.astro';
import Project from '../Project.astro';
import ProjectActions from '../ProjectActions.astro';

export type Props = HTMLAttributes<'div'>;

const { slot, ...props } = Astro.props;
---

<Project class:list={[props.class]} {...props}>
  <div class="flex items-center justify-between">
    <div class="w-28 h-full flex items-center">
      <img src="/projects/filmq/logo.svg" alt="FILMQ logo" class="h-full" />
    </div>
    <ProjectActions projectHref="https://filmq.vercel.app" githubHref="https://github.com/sambrock/filmq" />
  </div>
  <div class="relative">
    <BrowserMockup class="absolute w-[740px] md:w-full">
      <img src="/projects/filmq/home.webp" alt="FILMQ web app" />
    </BrowserMockup>
  </div>
</Project>
