---
import PhoneMockup from '../PhoneMockup.astro';
import Project from './Project.astro';
---

<Project class="hover:bg-[#1eba54]">
  <div class="w-20">
    <img src="/projects/pace/pace-logo-w.svg" />
  </div>
  <PhoneMockup>
    <img src="/projects/pace/home.jpg" alt="Your Design" class="max-h-full max-w-full" />
  </PhoneMockup>
</Project>
