---
import MockWindow from '../MockWindow.astro';
---

<div class="group p-6 overflow-clip h-full rounded-xl bg-white/5 hover:bg-[#4A4FF6]">
  <div class="w-36">
    <img src="/projects/vendee/logo-w.svg" />
  </div>
  <MockWindow class="mt-6 w-[780px]">
    <img src="/projects/vendee/dashboard.webp" />
  </MockWindow>
</div>
