---
import BrowserMockup from '../BrowserMockup.astro';
import Project from './Project.astro';
---

<Project class="hover:bg-[#4A4FF6]">
  <div class="w-24">
    <img src="/projects/vendee/logo-w.svg" />
  </div>
  <BrowserMockup class="w-[780px]">
    <img src="/projects/vendee/dashboard.webp" />
  </BrowserMockup>
</Project>
