---
import type { HTMLAttributes } from 'astro/types';
import BrowserMockup from '../BrowserMockup.astro';
import Project from '../Project.astro';
import ProjectActions from '../ProjectActions.astro';

export type Props = HTMLAttributes<'div'>;

const { slot, ...props } = Astro.props;
---

<Project {...props}>
  <div class="flex items-center justify-between">
    <div class="w-24">
      <img src="/projects/vendee/logo-w.svg" alt="Vendee logo" />
    </div>
    <ProjectActions
      githubHref="https://github.com/sambrock/vendee"
      projectHref="https://sambrock.com/sketchbooks/vendee.pdf"
      projectLabel="Demo"
    />
  </div>
  <div class="relative">
    <BrowserMockup class="absolute w-[740px]">
      <img src="/projects/vendee/dashboard.webp" alt="Vendee web app" />
    </BrowserMockup>
  </div>
</Project>
