---
import GithubIcon from '../assets/github.svg';
import LinkedinIcon from '../assets/linkedin.svg';
import MailIcon from '../assets/mail.svg';
import ButtonIcon from '../components/ButtonIcon.astro';
import ProjectFilmChat from '../components/projects/FilmChat.astro';
import ProjectLaunchMap from '../components/projects/LaunchMap.astro';
import ProjectVendee from '../components/projects/Vendee.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <div class="flex h-screen">
    <main class="grid px-4 grid-cols-1 py-24 lg:grid-cols-2 max-w-7xl mx-auto w-full my-auto h-max">
      <div class="flex py-40 lg:py-0 justify-center flex-col mx-auto gap-y-3 w-full lg:w-md">
        <div class="text-3xl text-foreground-0 font-medium mb-1 select-none">👋 Hey! I'm Sam</div>
        <div class="text-foreground-1 text-lg">I'm a full stack developer based in Leeds, UK.</div>

        <div class="mt-3 flex items-center gap-3">
          <ButtonIcon href="https://github.com/sambrock" target="_blank" rel="noopener noreferrer" aria-label="GitHub">
            <GithubIcon class="size-6" stroke-width={2} />
          </ButtonIcon>
          <ButtonIcon
            href="https://www.linkedin.com/in/sam-brocklehurst"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="LinkedIn"
          >
            <LinkedinIcon class="size-6" stroke-width={2} />
          </ButtonIcon>
          <ButtonIcon href="mailto:hi@sambrock.com" target="_blank" rel="noopener noreferrer" aria-label="Email ">
            <MailIcon class="size-6" stroke-width={2} />
          </ButtonIcon>
        </div>
      </div>

      <div class="flex items-center mx-auto relative">
        <div class="flex flex-col mx-auto w-full lg:w-md gap-4">
          <ProjectFilmChat />
          <ProjectLaunchMap />
          <ProjectVendee />
        </div>
      </div>
    </main>
  </div>
</Layout>
