<header class="sticky top-12 container mix-blend-exclusion z-[999999]">
  <div class="w-16 md:w-16 animate-in-logo">
    <img src="/logo/logo-w.svg" class="select-none" alt="Logo" />
  </div>
</header>