---
import Link from './Link.astro';
import GitHubIcon from '../icons/GitHubIcon.astro';
import MailIcon from '../icons/MailIcon.astro';
import LinkedInIcon from '../icons/LinkedInIcon.astro';
---

<div class="flex flex-col gap-12 py-8">
  <div class="w-16 md:w-24 pt-12 md:pt-24 pb-8 animate-in-logo">
    <img src="/logo/logo.svg" class="select-none" alt="Logo" />
  </div>
  <div class="space-y-1 md:space-y-2 gradient animate-in-hero">
    <h1 class="block text-4xl md:text-5xl font-bold animate-in-hero-main">Sam Brocklehurst</h1>
    <h2 class="block text-2xl md:text-3xl font-medium text-secondary animate-in-hero-main-secondary">
      Full Stack Developer
    </h2>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-12 animate-in-hero">
    <div class="space-y-4">
      <p class="text-secondary">
        I’m currently working at <Link href="https://www.asafe.com" target="_blank">A-SAFE</Link> as a software developer,
        helping to build the world's most advanced workplaces.
      </p>
      <p class="text-secondary">I’m interested in Next.js, React & TypeScript.</p>
    </div>
    <div class="space-y-2 flex flex-col items-start">
      <Link href="mailto:hi@sambrock.com"><MailIcon />Get in touch</Link>
      <Link href="https://github.com/sambrock" target="_blank"><GitHubIcon />GitHub</Link>
      <Link href="https://www.linkedin.com/in/sam-brocklehurst/" target="_blank">
        <LinkedInIcon />LinkedIn
      </Link>
    </div>
  </div>
</div>

<style is:inline>
  @keyframes logo {
    from {
      transform: scale(0.8);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }

  .animate-in-logo {
    animation: 800ms ease 0ms 1 normal backwards running logo;
  }
  .animate-in-hero {
    animation: 800ms ease 500ms 1 normal backwards running fade-in;
  }
  .animate-in-hero-main {
    animation: 800ms ease 500ms 1 normal backwards running in-y-2;
  }
  .animate-in-hero-main-secondary {
    animation: 800ms ease 600ms 1 normal backwards running in-y-2;
  }
</style>
