---
import Link from './Link.astro';
import GitHubIcon from '../icons/GitHubIcon.astro';
import MailIcon from '../icons/MailIcon.astro';
import LinkedInIcon from '../icons/LinkedInIcon.astro';
---

<div class="flex flex-col gap-12 py-8">
  <div class="w-20 pt-12 pb-8">
    <img src="/logo/logo-w.svg" class="select-none" />
  </div>
  <div class="space-y-2">
    <h1 class="block text-5xl font-bold">Sam Brocklehurst</h1>
    <h2 class="block text-3xl font-medium text-[#e8e8e8b3]">Full Stack Developer</h2>
  </div>
  <div class="grid grid-cols-[3fr,2fr] gap-12">
    <div class="space-y-4">
      <p class="text-[#e8e8e8cc]">
        I’m currently working at <Link href="https://www.asafe.com" target="_blank">A-SAFE</Link> as a software developer,
        helping to build the most advanced workplaces.
      </p>
      <p class="text-[#e8e8e8cc]">I’m interested in Next.js, React & TypeScript.</p>
    </div>
    <div class="space-y-2 flex flex-col items-start">
      <Link href="mailto:hi@sambrock.com"><MailIcon />Get in touch</Link>
      <Link href="https://github.com/sambrock" target="_blank"><GitHubIcon />GitHub</Link>
      <Link href="https://www.linkedin.com/in/sam-brocklehurst/" target="_blank">
        <LinkedInIcon />LinkedIn
      </Link>
    </div>
  </div>
</div>
