---
import type { HTMLAttributes } from 'astro/types';
import { clsx } from 'clsx';

export type Props = HTMLAttributes<'a'>;

const props = Astro.props;
---

<a
  class={clsx(
    'inline-flex items-center gap-2 text-[#e8e8e8cc] hover:text-[#fff] transition-colors',
    props.target === '_blank' && 'after:content-["↗"] after:text-xs after:-ml-1',
    props.class
  )}
  {...props}
>
  <slot />
</a>
