---
import type { HTMLAttributes } from 'astro/types';

export type Props = HTMLAttributes<'a'>;

const props = Astro.props;
---

<a
  class:list={[
    'inline-flex items-center gap-2 text-secondary hover:text-default transition-colors',
    props.target === '_blank' && 'after:content-["↗"] after:text-xs after:-ml-1',
    props.class,
  ]}
  {...props}
>
  <slot />
</a>
