<div class="relative rounded-[30px] border-2 border-white/10 group-hover:border-black/10">
  <div class="absolute rounded-full top-3 h-4 w-16 bg-neutral-800 z-50 flex items-center left-1/2 -translate-x-1/2">
    <div class="h-2 aspect-square rounded-full bg-white/10 ml-auto mr-2"></div>
  </div>
  <div class="rounded-[28px] relative overflow-clip border-[6px] border-white/5 group-hover:border-black/5">
    <slot />
  </div>
</div>
