<div class="relative rounded-[30px] border-[8px] border-white/10 group-hover:border-black/10">
  <div
    class="notch absolute bg-[#303030] group-hover:bg-black/10 top-0 h-5 rounded-b-xl w-36 left-1/2 -translate-x-1/2 z-50 before:rounded-xl"
  >
  </div>
  <div class="rounded-[20px] relative overflow-clip group-hover:border-black/5">
    <slot />
  </div>
</div>
