---
import Exterra from './projects/Exterra.astro';
import Filmq from './projects/Filmq.astro';
import Vendee from './projects/Vendee.astro';
---

<div class="grid grid-cols-2 gap-2 my-36">
  <Filmq class="col-span-2" />
  <Vendee />
  <Exterra />
</div>
