---
import type { HTMLAttributes } from 'astro/types';
import Link from './Link.astro';
import GitHubIcon from '../icons/GitHubIcon.astro';

export type Props = HTMLAttributes<'div'> & {
  projectHref?: string;
  githubHref?: string;
};

const { projectHref, githubHref, ...props } = Astro.props;
---

<div
  class:list={['flex gap-2 md:gap-4 text-sm items-center visible md:invisible md:group-hover:visible', props.class]}
  {...props}
>
  {
    githubHref && (
      <Link href={githubHref} target="_blank">
        <GitHubIcon />
        View code
      </Link>
    )
  }
  {
    projectHref && (
      <Link href={projectHref} target="_blank">
        Launch
      </Link>
    )
  }
</div>
