---
import type { HTMLAttributes } from 'astro/types';
import ExternalLinkIcon from '../assets/external-link.svg';

export type Props = HTMLAttributes<'div'> & {
  title: string;
  hrefLabel: string;
  href: string;
  description: string;
};

const props = Astro.props;
---

<div class="bg-neutral-600/5 py-3 px-1 backdrop-blur-lg rounded-xl ring-2 ring-neutral-100/10" {...props}>
  <a href={props.href} target="_blank" class="cursor-pointer" rel="noopener noreferrer">
    <div class="flex hover:bg-neutral-100/10 items-center gap-4 w-min rounded-lg px-3 mx-1 py-1">
      <div class="size-9 bg-neutral-950/60 flex items-center justify-center rounded-md ring-1 ring-neutral-100/10">
        <slot name="icon" class="size-5" />
      </div>
      <div>
        <div class="font-medium text-base">{props.title}</div>
        <div class="flex items-center text-neutral-500 text-xs gap-1">
          <ExternalLinkIcon class="size-3.5" stroke-width={1.8} />
          <div class="whitespace-nowrap">{props.hrefLabel}</div>
        </div>
      </div>
    </div>
  </a>

  <div class="px-4 text-sm text-neutral-500 mt-2">
    {props.description}
  </div>
</div>
