@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import 'tailwindcss';

@theme {
  --font-sans: 'Roboto Mono', monospace;
  --dark-background: rgb(13, 13, 13);
  --neutral-text: rgb(255, 255, 255);
  --neutral-secondary: rgb(255, 255, 255, 0.7);
  --neutral-tertiary: rgb(255, 255, 255, 0.5);
  --cursor-y: 0;
  --cursor-x: 0;
}

.debug {
  border: 1px red solid;
}

/* html,
body {
  font-family: var(--font-sans);
  background-color: var(--dark-background);
  color: var(--neutral-text);
  text-rendering: optimizelegibility;
  text-size-adjust: none;
  color-scheme: dark;
  min-height: 100vh;
} */

*::selection {
  background-color: var(--neutral-text);
  color: var(--dark-background);
}

*:focus-visible {
  outline: 2px solid var(--neutral-text);
  border-radius: 2px;
  outline-offset: 2px;
}

.cursor-shine {
  background: radial-gradient(
    300px circle at var(--cursor-x) var(--cursor-y),
    rgba(255, 255, 255, 0.08),
    transparent 40%
  );
}

.header-gradient {
  background: linear-gradient(to right bottom, rgb(255, 255, 255) 30%, rgba(255, 255, 255, 0.38));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

@keyframes in-y {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes in-y-2 {
  from {
    transform: translateY(-12px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
