@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import 'tailwindcss';

@theme {
  --font-sans: 'Roboto Mono', monospace;

  --color-background-0: #000000;
  --color-foreground-0: #f2f2f2;
  --color-foreground-1: #8c8c8c;
  --color-border-0: #1b1b1b;
}

*::selection {
  background-color: var(--color-foreground-0);
  color: var(--color-background-0);
}
