<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Sam Brocklehurst — Full Stack Developer</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />

    <!-- <link rel="manifest" href="/site.webmanifest" /> -->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon//favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ff1700" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="theme-color" content="#ffffff" />
  </head>
  <body>
    <div class="px-4 lg:px-0 md:max-w-5xl mx-auto">
      <slot />
    </div>
  </body>
</html>

<style is:global>
  :root {
    --font-sans: 'Rubik', sans-serif;
    --dark-background: rgb(13, 13, 13);
    --neutral-text: rgb(255, 255, 255);
    --neutral-secondary: rgb(255, 255, 255, 0.7);
  }

  html,
  body {
    font-family: var(--font-sans);
    background-color: var(--dark-background);
    color: var(--neutral-text);
    text-rendering: optimizelegibility;
    text-size-adjust: none;
    color-scheme: dark;
    min-height: 100vh;
  }

  *::selection {
    background-color: var(--neutral-text);
    color: var(--dark-background);
  }

  .debug {
    border: 1px red solid;
  }

  .gradient {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
